#portlet-filter {
    background-color: #F7F7F7;
    border: none !important;
}

#dashboard-report-range {
    margin-bottom: 10px;
}

/*
#dashboard-report-range.btn-fit-height {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    box-shadow: none!important;
    display: block;
    width: 100% !important;
}

#dashboard-report-range.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

#dashboard-report-range.btn.green:not(.btn-outline):hover,
#dashboard-report-range.btn.green:not(.btn-outline).active.focus,
#dashboard-report-range.btn.green:not(.btn-outline).active:focus,
#dashboard-report-range.btn.green:not(.btn-outline).active:hover,
#dashboard-report-range.btn.green:not(.btn-outline):active.focus,
#dashboard-report-range.btn.green:not(.btn-outline):active:focus,
#dashboard-report-range.btn.green:not(.btn-outline):active:hover {
    color: #FFF !important;
    background-color: #1f858e !important;
    border-color: #18666d !important;
}*/

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    height: 36px;
    font-size: 18px !important;
}

.widget-thumb .progress-info {
    margin-top: 5px;
}

.widget-thumb .progress-info .progress {
    height: 3px;
    margin-bottom: 5px;
}

.widget-thumb .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}

.widget-thumb .progress-info .status .status-title {
    float: left;
    display: inline-block;
}

.widget-thumb .progress-info .status .status-number {
    float: right;
    display: inline-block;
}

.widget-thumb .progress-info .status:after {
    display: table;
    content: '';
    clear: both;
}

.table.table-dashboard td, .table.table-dashboard th, .table.table-dashboard.table-light > tbody > tr > td {
    padding: 8px !important;
    font-size: 12px !important;
    font-family: "Open Sans",sans-serif;
}

.portlet.light>.portlet-title>.caption>i {
    margin-top: 0 !important;
}

.btn.dashboard-btn {
    box-shadow: none!important;
}
